<div class="page-container " ng-controller="purchasedItemsCtrl">
    <!-- Start page content wrapper -->
    <div class="page-content-wrapper animated fadeInRight  ">
        <div class="page-content">
            <div class="row wrapper border-bottom page-heading">
                <div class="col-lg-12">
                    <h2>purchasedItems Items</h2>
                    <ol class="breadcrumb">
                        <li> <a href="#/dashboard">purchased Items</a> </li>
                        <li class="active"> <strong>Edit purchasedItems page</strong> </li>
                    </ol>
                </div>
                <div class="col-lg-12"> </div>
            </div>
            <div class="widgets-container">
                <div class="row">
                    <div class="col-lg-12">
                        <form name="homeForm">
                            <fieldset>
                                <!-- vn dropdown start -->
                                <div class="form-group" style="width:725px;padding-left:200px;">
                                    <div class="input-group  col-md-5">
                                        <div class="form-group" style="width: 900px">
                                            <label class="col-md-2 control-label"> Vender Name:
                                            </label>
                                            <select ng-model="obj.pur_VenNameId">
                                                <option ng-repeat="x in vendRegisData" value="{{x.id}}">{{x.vend_name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!-- vn dropdown end-->
                                <!-- item dropdown start -->
                                <div class="form-group" style="width:725px;padding-left:200px;">
                                    <div class="input-group  col-md-5">
                                        <div class="form-group" style="width: 900px">
                                            <label class="col-md-2 control-label"> Item Name:
                                            </label>

                                        </div>
                                        <!-- <select ng-model="obj.pur_ItemNameId"
                                            ng-change="getHSNCode(obj.pur_ItemNameId)">
                                            <option ng-repeat="y in addItemsBEData" value="{{y.id}}@{{y.item_HSNcode}}">
                                                {{y.item_name}}
                                            </option>
                                        </select> -->
                                        <select ng-model="obj.pur_ItemNameId"
                                            ng-change="getHSNCode(obj.pur_ItemNameId)">
                                            <option ng-repeat="y in addItemsBEData" value="{{y.id}}">
                                                {{y.item_name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                    </div>
                    <!-- item dropdown end-->
                    <!-- HSN CODE START -->
                    <!-- <div class="form-group" style="width:725px;padding-left:200px;">
                        <div class="input-group  col-md-5">
                            <div class="form-group" style="width: 900px">
                                <label class="col-md-2 control-label"> Add item HSN codeo:
                                </label>
                                <div class="input-group  col-md-5">
                                    <input class="form-control" name="fcategory" ng-model="obj.hsncode" value="{{hsncode}}" type="text"
                                        placeholder="Add  item HSN code">
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <div class="form-group" style="width:725px;padding-left:200px;">
                        <div class="input-group  col-md-5">
                            <div class="form-group" style="width: 900px">
                                <label class="col-md-2 control-label"> Add item HSN codeo:
                                </label>
                                <div class="input-group  col-md-5">
                                    <input class="form-control" name="fcategory"
                                        ng-model="obj.pur_Hsncode" type="text" readonly
                                        placeholder="Add  item HSN code">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- HSN CODE END -->
                    <!-- pur_VenNameId	pur_ItemNameId	pur_Hsncode	pur_qty	pur_rate	pur_its		 -->
                    <div class="form-group" style="width:725px;padding-left:200px;">
                        <div class="input-group  col-md-5">
                            <div class="form-group" style="width: 900px">
                                <label class="col-md-2 control-label"> Quantity:
                                </label>
                                <div class="input-group  col-md-5">
                                    <input class="form-control" name="fcategory" ng-model="obj.pur_qty" required
                                        type="text" placeholder="Enter Quantity">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="width:725px;padding-left:200px;">
                        <div class="input-group  col-md-5">
                            <div class="form-group" style="width: 900px">
                                <label class="col-md-2 control-label"> Rate:
                                </label>
                                <div class="input-group  col-md-5">
                                    <input class="form-control" name="fcategory" ng-model="obj.pur_rate" required
                                        type="text" placeholder="Enter Rate">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                    </div>
                    <div class="form-group col-md-5" style="float: center">
                        <div class=" col-sm-6 col-sm-offset-6">
                            <button class="btn aqua" type="reset" ng-disabled="homeForm.$invalid"
                                ng-click="sendPurchaseData(obj)">Submit</button>
                        </div>
                    </div>
                    </fieldset>
                    </form>
                </div>
            </div>
            <!-- table start -->
            <div class="wrapper-content ">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content collapse in">
                                <div class="widgets-container">
                                    <table 
                                        class="table table-striped table-bordered table-hover dataTables-example"
                                        style=" font-family: Times New Roman;    font-size: 16px; width: 100%;">
                                        <thead style="background: #9d8cee;color: white;font-family: raleway">
                                            <tr>
                                                <!-- :
id: 6
item_HSNcode: "A23"
item_its: "2021-01-27T08:55:44.000Z"
item_name: "dgrt"
item_qty: 0
pur_Hsncode: "A23"
pur_ItemNameId: "1"
pur_VenNameId: "6"
pur_its: "2021-01-27T11:54:09.000Z"
pur_qty: "rtyretu5ey"
pur_rate: 0
vend_address: "kurnool"
vend_gmail: "vinay@gmail.com"
vend_its: "2021-01-27T07:27:42.000Z"
vend_mobile: "9705491127"
vend_name: "vinay" -->
                                                <th>S.no</th>
                                                <th>Date & Time</th>
                                                <th>vender Name</th>
                                                <th>Item Name</th>
                                                <th>Item HSN code</th>
                                                <th>Item Quantity</th>
                                                <th>Item Cost</th>
                                                <th>Update</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="ms in getPurchaseBEdata">
                                                <td class="project-status" style="font-family: raleway">
                                                    {{$index + 1}}</td>
                                                <td class="project-status" style="font-family: raleway">
                                                    {{ms.pur_its}}</td>
                                                <td class="project-title" style="font-family: raleway">
                                                    {{ms.vend_name}}</td>
                                                <td class="project-title" style="font-family: raleway">
                                                    {{ms.item_name}}</td>
                                                <td class="project-title" style="font-family: raleway">
                                                    {{ms.pur_Hsncode}}</td>
                                                <td class="project-title" style="font-family: raleway">
                                                    {{ms.pur_qty}}</td>
                                                <td class="project-title" style="font-family: raleway">
                                                    {{ms.pur_rate}}</td>
                                                    <td>
                                                <a ng-click="Editprsntdt(ms);">
                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div id="myModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-sm" style="width: 700px;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <label class="col-md-3 control-label">Team Name</label>
                                    <div class="input-group date form_datetime col-md-6">
                                        <input type="text" ng-model="Edittm.team_nm" class="form-control" required />
                                    </div>
                                    <br>
                                    <label class="col-md-3 control-label">Team Designation</label>
                                    <div class="input-group date form_datetime col-md-6">
                                        <input type="text" ng-model="Edittm.team_desigtn" class="form-control"
                                            required />
                                    </div>
                                    <br>
                                    <!-- <label class="col-md-3 control-label">Team Image</label>
                                        <div class="input-group date form_datetime col-md-6">
                                            <input type="text" ng-model="Edittm.team_img" class="form-control" required />
                                        </div> -->
                                    <br>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn green" data-dismiss="modal"
                                        ng-click="updateteamdt(Edittm)">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- table end -->
        </div>
    </div>

</div>

</div>
<style>
    .modal-backdrop.in {
        filter: alpha(opacity=50);
        opacity: 0;
    }

    .fadeInRight {
        -webkit-animation-name: fadeInRight;
        animation-name: auto;
    }

    .ui-datepicker-trigger {
        position: absolute;
        margin-top: -28px;
        right: 15px;
        border: none;
        background-color: transparent;
    }
</style>